@font-face {
    font-family: 'jeju';
    src: url("./assets/fonts/EARLYFONT_JEJUDOLDAM/EF_jejudoldam.ttf");
}

@font-face {
    font-family: 'kcc';
    src: url("./assets/fonts/KCC/KCC-Murukmuruk.ttf");
}